<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<head>
    <title>ajouter un article </title>
</head>

<body>
<div class="container" id="contact-form">
    <div class="col-md-12">
        <div class="form-area">
            <form role="form" id="field-form" method="post">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Ajout d'un article:</h3>
                <div class="form-group">
                    <input type="text" class="form-control"  name="nom" placeholder="nom" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="textarea" id="contents" name="contenue" placeholder="contenue" maxlength="500" rows="7"></textarea>
                    <span class="help-block"><p id="characterLeft" class="help-block ">Vous avez ateint la limite</p></span>
                </div>

                <a href="/" id="submit" class="btn btn-primary pull-left">Retour</a>
                <button type="submit"  class="btn btn-primary pull-right">Publier</button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#characterLeft').text('500 characters left');
        $('#message').keydown(function () {
            var max = 500;
            var len = $(this).val().length;
            if (len >= max) {
                $('#characterLeft').text('You have reached the limit');
                $('#characterLeft').addClass('red');
                $('#btnSubmit').addClass('disabled');
            }
            else {
                var ch = max - len;
                $('#characterLeft').text(ch + ' characters left');
                $('#btnSubmit').removeClass('disabled');
                $('#characterLeft').removeClass('red');
            }
        });
    });
</script>
</html>
