<!DOCTYPE html>
<html>
<title>Se connecter</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<style>
body {
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 213px;
    height: 36px;
    margin: 30px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}

</style>

<body>

<!-- Links Navbar menue -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
  <% if(user){ %>
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">ACCUEIL</a>
    </div>
    <div class="w3-col s6">
      <a href="/article-add" class="w3-button w3-block w3-black">AJOUTER UN ARTICLE</a>
    </div>
    <div class="w3-col s3">
      <a href="/users/logout" class="w3-button w3-block w3-black glyphicon glyphicon-off"></a>
    </div>
  <% } else { %>
    <div class="w3-col s6">
      <a href="/users/login" class="w3-button w3-block w3-black">CONNEXION</a>
    </div>
    <div class="w3-col s6">
      <a href="/users/register" class="w3-button w3-block w3-black">S'ENREGISTRER</a>
    </div>
    <% } %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% if(success_msg == true) { %>
        <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
                
      <% if(error_msg == true) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>

      <% if(error == true) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
    </div>
  </div>


  <div class="logo"></div>
  <div class="login-block">
    <h1>Login</h1>
    <form method="post" action="/users/login" name="loginform">
      <input type="text" placeholder="Nom d'utilisateur" id="username" name="username" />
      <input type="password" placeholder="Mot de passe" id="password" name="password" />
      <button type="submit">Se connecter</button>
    </form>
  </div>
</div>
</body>


</html>